You can solve these exercises in the room or at home. For this week, and the next 3 weeks, exercises have to be solved by creating a single dedicated `.py` file called `01ex_introduction.py`.

You can divide the individual exercises in the source code with appropriate comments (`#`).

The exercises need to run without errors with `python3 01ex_introduction.py`.

1\. **The HelloWorld replacement**

a) Write a program that:
- prints the numbers from 1 to 100
- but for multiples of three print "`Hello`" instead of the number and for the multiples of five print "`World`"
- for numbers which are multiples of both three and five print "`HelloWorld`".

b) Put the result in a tuple and substitute "`Hello`" with "`Python`" and "`World`" with "`Works`".

In [ ]:
my_list=['Hello World' if x%15==0 else 'Hello' if x%3==0   else 'World' if x%5==0 else  x for x in range(1, 101)]
print (my_list)

my_list_replaced = ['Python' if x=='Hello' else "Works" if x=="World" else x for x in my_list ]

my_tuple = tuple(my_list_replaced);
print(my_tuple)

[1, 2, 'Hello', 4, 'World', 'Hello', 7, 8, 'Hello', 'World', 11, 'Hello', 13, 14, 'Hello World', 16, 17, 'Hello', 19, 'World', 'Hello', 22, 23, 'Hello', 'World', 26, 'Hello', 28, 29, 'Hello World', 31, 32, 'Hello', 34, 'World', 'Hello', 37, 38, 'Hello', 'World', 41, 'Hello', 43, 44, 'Hello World', 46, 47, 'Hello', 49, 'World', 'Hello', 52, 53, 'Hello', 'World', 56, 'Hello', 58, 59, 'Hello World', 61, 62, 'Hello', 64, 'World', 'Hello', 67, 68, 'Hello', 'World', 71, 'Hello', 73, 74, 'Hello World', 76, 77, 'Hello', 79, 'World', 'Hello', 82, 83, 'Hello', 'World', 86, 'Hello', 88, 89, 'Hello World', 91, 92, 'Hello', 94, 'World', 'Hello', 97, 98, 'Hello', 'World']
(1, 2, 'Python', 4, 'Works', 'Python', 7, 8, 'Python', 'Works', 11, 'Python', 13, 14, 'Hello World', 16, 17, 'Python', 19, 'Works', 'Python', 22, 23, 'Python', 'Works', 26, 'Python', 28, 29, 'Hello World', 31, 32, 'Python', 34, 'Works', 'Python', 37, 38, 'Python', 'Works', 41, 'Python', 43, 44, 'Hello World', 46, 47, 'Python', 49, 'Works', 'Python', 52, 53, 'Python', 'Works', 56, 'Python', 58, 59, 'Hello World', 61, 62, 'Python', 64, 'Works', 'Python', 67, 68, 'Python', 'Works', 71, 'Python', 73, 74, 'Hello World', 76, 77, 'Python', 79, 'Works', 'Python', 82, 83, 'Python', 'Works', 86, 'Python', 88, 89, 'Hello World', 91, 92, 'Python', 94, 'Works', 'Python', 97, 98, 'Python', 'Works')

2\. **The swap**

Write a program that swaps the values of two input variables `x` and `y` from command line (whatever the type).

Try to do that without using a temporary variable, exploiting the Python syntax.

In [ ]:
x, y = 5, 'b'
print('x =', x, 'y =', y)
a = x
x = y
y = a
print('x =', x, 'y =', y)

x = 5 y = b
x = b y = 5

3\. **Computing the distance**

Write a program that calculates and prints the euclidean distance between two given points $u$ and $v$ in a 2D space, where $u$ and $v$ are both 2-tuples $(x,y)$.

Example: if $u=(3,0)$ and $v=(0,4)$, the function should return $5$.

*Hint:* in order to compute the square root, import the `math` library with `import math` and use `math.sqrt()`.

In [ ]:
import math
x, y, z, w = input("Set the value of x: "), input("Set the value of y: "), input("Set the value of z: "), input("Set the value of w: ")
u = (int(x),int(y))
v = (int(z),int(w))
a = ((v[0]-u[0])**2)+((v[1]-u[1])**2)
Ed = math.sqrt(a)
print (Ed)

Set the value of x: 3
Set the value of y: 0
Set the value of z: 0
Set the value of w: 4
5.0

4\. **Counting letters**

Write a program that calculates the number of times each character occurs in a given string. Ignore differences in capitalization.

The test strings are:

In [ ]:
s1 = "Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Hello instead of the number and for the multiples of five print World. \
For numbers which are multiples of both three and five print HelloWorld."
s2 = "The quick brown fox jumps over the lazy dog"

In [ ]:
s1 = s1.lower()
dict= {}
for char in list(s1):
  if(char not in dict.keys()):
    dict[char] = 1
  else:
    dict[char] =dict[char]+1
print (dict)

{'w': 4, 'r': 19, 'i': 12, 't': 19, 'e': 20, ' ': 41, 'a': 7, 'p': 8, 'o': 15, 'g': 1, 'm': 8, 'h': 11, 'n': 10, 's': 7, 'u': 7, 'b': 5, 'f': 10, '1': 2, '0': 2, '.': 3, 'l': 12, 'd': 5, 'v': 2, 'c': 1}

In [ ]:
s2 = s2.lower()
dict= {}
for char in list(s2):
  if(char not in dict.keys()):
    dict[char] = 1
  else:
    dict[char] = dict[char]+1

print (dict)

{'t': 2, 'h': 2, 'e': 3, ' ': 8, 'q': 1, 'u': 2, 'i': 1, 'c': 1, 'k': 1, 'b': 1, 'r': 2, 'o': 4, 'w': 1, 'n': 1, 'f': 1, 'x': 1, 'j': 1, 'm': 1, 'p': 1, 's': 1, 'v': 1, 'l': 1, 'a': 1, 'z': 1, 'y': 1, 'd': 1, 'g': 1}

5\. **Isolating the unique**

Write a program that determines and counts the unique numbers (numbers with only one occurrence) in the list:

In [ ]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

In [ ]:
for i in l:
  if l.count(i)>1:
   l.remove(i)

print(len(l))

58

Do the same exploiting only the Python data structures.

6\. **Casting**

Write a program that:
* reads from command line two variables, that can be either `int`, `float`, or `str`.
* use the `try`/`except` expressions to perform the addition of these two variables, only if possible
* print the result without making the code crash for all the `int`/`float`/`str` input combinations.

In [4]:
x = input("enter x: ")
y = input("enter y: ")
try:
  x=float(x)
  y=float(x)
  print(x+y);
except:
  print('one or both of the inputs are not numbers.')

enter x: 2.6
enter y: 4
5.2

7\. **Cubes**

Create a list of the cubes of *x* for *x* in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [ ]:
# FOR LOOP
a_list=[]
for x in range(11):
  x=x**2
  a_list.append(x)
print (a_list)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
#LIST COMPREHENSION
b_list=[x**2 for x in range(11)]
print(b_list)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

8\. **List comprehension**

Write, using the list comprehension, a single-line expression that gets the same result as the code in the cell below.

In [ ]:
a = []
for i in range(3):
    for j in range(4):
        a.append((i, j))
print(a)

[(0, 0), (0, 1), (0, 2), (0, 3), (1, 0), (1, 1), (1, 2), (1, 3), (2, 0), (2, 1), (2, 2), (2, 3)]

In [ ]:
b = [(x,y) for x in range(3) for y in range(4)]
print(b)

[(0, 0), (0, 1), (0, 2), (0, 3), (1, 0), (1, 1), (1, 2), (1, 3), (2, 0), (2, 1), (2, 2), (2, 3)]

9\. **Nested list comprehension**

> A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3, 4, 5).

Find and put in a tuple all unique Pythagorean triples for the positive integers $a$, $b$ and $c$ with $c < 100$.

In [ ]:
l=[(a, b, c) for c in range(1,100) for b in range(1,100) for a in range(1,100) if a**2 + b**2 == c**2]
print(l)

[(4, 3, 5), (3, 4, 5), (8, 6, 10), (6, 8, 10), (12, 5, 13), (5, 12, 13), (12, 9, 15), (9, 12, 15), (15, 8, 17), (8, 15, 17), (16, 12, 20), (12, 16, 20), (24, 7, 25), (20, 15, 25), (15, 20, 25), (7, 24, 25), (24, 10, 26), (10, 24, 26), (21, 20, 29), (20, 21, 29), (24, 18, 30), (18, 24, 30), (30, 16, 34), (16, 30, 34), (28, 21, 35), (21, 28, 35), (35, 12, 37), (12, 35, 37), (36, 15, 39), (15, 36, 39), (32, 24, 40), (24, 32, 40), (40, 9, 41), (9, 40, 41), (36, 27, 45), (27, 36, 45), (48, 14, 50), (40, 30, 50), (30, 40, 50), (14, 48, 50), (45, 24, 51), (24, 45, 51), (48, 20, 52), (20, 48, 52), (45, 28, 53), (28, 45, 53), (44, 33, 55), (33, 44, 55), (42, 40, 58), (40, 42, 58), (48, 36, 60), (36, 48, 60), (60, 11, 61), (11, 60, 61), (63, 16, 65), (60, 25, 65), (56, 33, 65), (52, 39, 65), (39, 52, 65), (33, 56, 65), (25, 60, 65), (16, 63, 65), (60, 32, 68), (32, 60, 68), (56, 42, 70), (42, 56, 70), (55, 48, 73), (48, 55, 73), (70, 24, 74), (24, 70, 74), (72, 21, 75), (60, 45, 75), (45, 60, 75), (21, 72, 75), (72, 30, 78), (30, 72, 78), (64, 48, 80), (48, 64, 80), (80, 18, 82), (18, 80, 82), (84, 13, 85), (77, 36, 85), (75, 40, 85), (68, 51, 85), (51, 68, 85), (40, 75, 85), (36, 77, 85), (13, 84, 85), (63, 60, 87), (60, 63, 87), (80, 39, 89), (39, 80, 89), (72, 54, 90), (54, 72, 90), (84, 35, 91), (35, 84, 91), (76, 57, 95), (57, 76, 95), (72, 65, 97), (65, 72, 97)]

10\. **Normalization of a N-dimensional vector**

Write a program that takes an N-dimensional vector, e.g. a variable-length tuple of numbers, and normalizes it to one (in such a way that the squared sum of all the entries is equal to 1).

In [12]:
import math
a= (1.22,4.5,5,6,5.6)

a_normalized = [x/math.sqrt(sum([x**2 for x in list(a)])) for x in list(a)]
print(a_normalized)

#test:
z=0
for j in a_normalized:
  z+= j*j

print(z)

[0.11421418720647881, 0.4212818380566841, 0.4680909311740935, 0.5617091174089122, 0.5242618429149847]
0.9999999999999998

11\. **The Fibonacci sequence**

Calculate the first 20 numbers of the [Fibonacci sequence](https://en.wikipedia.org/wiki/Fibonacci_number) using only `for` or `while` loops.

In [ ]:
num = 20
n1, n2 = 0, 1
fi_list=[n1, n2]

for i in range(2, num):
    n3 = n1 + n2
    n1 = n2
    n2 = n3
    fi_list.append(n3)

print("Fibonacci Series:", fi_list)

Fibonacci Series: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181]